* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  line-height: 1.2;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #000000;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  visibility: hidden;
}

.container {
  width: min(100% - 40px, 1110px);
  margin-inline: auto;
}

.container-sm {
  width: min(100% - 40px, 540px);
  margin-inline: auto;
}

.header {
  padding-top: 67px;
  padding-bottom: 144px;
  background-color: #EEEFF1;
}
@media (max-width: 767px) {
  .header {
    padding-top: 44px;
    padding-bottom: 72px;
  }
}

.footer {
  background-color: #34547A;
  color: #ffffff;
  padding: 50px 0;
}
.footer__title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 5px;
}
.footer__description {
  font-size: 0.8125rem;
}

.navbar {
  margin-bottom: 162px;
}
@media (max-width: 767px) {
  .navbar {
    margin-bottom: 48px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .navbar {
    margin-bottom: 80px;
  }
}
.navbar__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 30px;
  margin-left: -10px;
}
@media (max-width: 767px) {
  .navbar__list {
    row-gap: 6px;
  }
}
.navbar__link {
  position: relative;
  display: block;
  padding: 10px 0;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}
.navbar__link--active {
  color: #34547A;
  font-weight: 500;
}
.navbar__link:hover::after {
  content: "";
  position: absolute;
  left: -10px;
  right: -10px;
  bottom: 0;
  height: 3px;
  background-color: #34547A;
  border-radius: 3px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 540px;
  margin-left: -10px;
}
@media (max-width: 767px) {
  .hero {
    max-width: 100%;
    margin: 0;
    align-items: center;
    text-align: center;
  }
}
.hero__title {
  margin: 0 0 44px;
}
@media (max-width: 767px) {
  .hero__title {
    margin-bottom: 20px;
  }
}
.hero__description {
  margin-bottom: 56px;
  color: #727272;
}
@media (max-width: 767px) {
  .hero__description {
    margin-bottom: 24px;
  }
}
.hero__button {
  background-color: #34547A;
  color: #fff;
  text-transform: uppercase;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 225px;
  min-height: 65px;
}

.section {
  padding-top: 110px;
  padding-bottom: 90px;
  text-align: center;
}
@media (max-width: 767px) {
  .section {
    padding-top: 44px;
    padding-bottom: 44px;
  }
}
.section__title {
  font-weight: 500;
  margin-bottom: 40px;
}
.section__description {
  color: #727272;
}

.about {
  background-color: #ffffff;
}

.process {
  background-color: #EEEFF1;
}

.experience {
  background-color: #34547A;
  color: #ffffff;
  padding: 100px 0;
}
.experience__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}
@media (max-width: 767px) {
  .experience__container {
    justify-content: center;
    gap: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .experience__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

.experience-item {
  display: flex;
  gap: 20px;
}
@media (max-width: 767px) {
  .experience-item {
    justify-content: center;
  }
}
.experience-item__value {
  font-size: 1.3125rem;
  font-weight: 500;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .experience-item__value {
    font-size: clamp(1.25rem, 2.2vw, 1.5rem);
  }
}
.experience-item__picture {
  order: -1;
}

.video {
  padding-bottom: 100px;
  margin-top: 40px;
}
@media (max-width: 767px) {
  .video {
    padding-bottom: 60px;
  }
}
.video__iframe {
  width: 100%;
  display: block;
  border: 0;
  aspect-ratio: 16/9;
}

/*# sourceMappingURL=style.css.map */
