@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-primary($bg, $color: #fff) {
  background-color: $bg;
  color: $color;
  text-transform: uppercase;
  padding: 0.5em;
  @include flex-center;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  visibility: hidden;
}